---


import { frontmatter as article, Content } from '../content/article.mdx'

import Meta from './content/Meta.astro'
---

<main>
	<h1><b><span>Article:</span></b> {article.title}</h1>
	<Meta {...article} />
	<Content />
</main>

<style>
	main {
		display: flex;
		flex-direction: column;

		max-width: 60rem;

		background: var(--read-contrast);

		h1 {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 0.25em;
			padding: var(--h-space);

			font-size: 2.5rem;
			line-height: 1;

			b {
				display: inline-block;
				padding: 0.5em;

				background: var(--calm);
				color: var(--read-contrast);
				font-size: 0.5em;
				font-weight: 800;
				text-transform: uppercase;
				letter-spacing: 0.125rem;
				transform: skewX(-15deg);

				span {
					display: inline-block;
					transform: skewX(15deg);
				}
			}

			@media (min-width: 50rem) {
				font-size: 4rem;;
			}
		}

		h3 {
			font-size: 1.25rem;

			@media (min-width: 50rem) {
				font-size: 1.5rem;
			}
		}
	}
</style>
